@model ProvaTecnica.Web.Models.Escola

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja excluir a escola?</h3>
<div>
    <h4>Escola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEscola)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
